/* market.css */
.root {
    -fx-background-color: #2b2b2b;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10px;
}

.table-view .column-header .label {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.label {
    -fx-text-fill: #fff;
}

.button {
    -fx-background-color: #5a5a5a;
    -fx-text-fill: #ffffff;
    -fx-border-color: #7a7a7a;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: #6a6a6a;
}

.text-field {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: #ffffff;
    -fx-border-color: #7a7a7a;
    -fx-border-width: 1px;
}